= bootstrap_form_for([@account, @mutation]) do |f|
  %fieldset
    = f.static_control label: t('.description') do
      = @account.description
    = f.static_control label: t('.query') do
      = @account.query
    = f.text_field :title
    = f.text_field :content
    = f.url_field :link

    .form-actions
      = f.button :submit, class: "btn-primary btn-xs", value: t('button.save')
      = link_to t('button.cancel'), :back, class: "btn btn-xs"
