= render 'shared/index_header', name: Mutation.model_name.human
%span.col-md-12
  %table.table.table-striped.table-bordered.table-condensed
    = render 'shared/show_thead'
    %tbody
      %tr
        %td= t('.user')
        %td= @account.user.email
      %tr
        %td= t('.description')
        %td= @account.description
      %tr
        %td= t('.query')
        %td= t(@account.query)
.row-fluid
  %table.table-bordered
    %thead
      %tr
        = thsortable 'title', t('.user')
        = thsortable 'content', t('.description')
        = thsortable 'link', t('.query')
        = thsortable 'googled', t('.googled')
        = thsortable 'created_at', t('.created_at')
        = thsortable 'updated_at', t('.updated_at')
        %th
          %i.icon-flag
    %tbody
      -@mutations.each do |mutation|
        %tr
          = render 'row', :mutation => mutation
          %td
            = link_to t(:'button.show'), account_mutation_path(@account, mutation), :class => "btn btn-xs"
            - if can? :update, mutation
              = link_to t(:'button.edit'), edit_account_mutation_path(@account, mutation), :class => "btn btn-xs"
            - if can? :delete, mutation
              = link_to t(:'button.destroy'), [@account, mutation], :class => "btn btn-danger btn-xs", data: {confirm: t('alert.are_you_sure')}, method: :delete
  - if can? :create, Mutation
    = link_to t(:'button.add'), new_account_mutation_path(@account), :class => "btn btn-xs btn-success"
