= render 'shared/show_header', name: Mutation.model_name.human
.row-fluid
  %span.col-md-12
    %table.table.table-striped.table-bordered.table-condensed
      = render 'shared/show_thead'
      %tbody
        %tr
          %td= t('.user')
          %td= @mutation.account.user.email
        %tr
          %td= t('.description')
          %td= @mutation.account.description
        %tr
          %td= t('.query')
          %td= t(@mutation.account.query)
        %tr
          %td= t('.title')
          %td= raw(@mutation.title)
        %tr
          %td= t('.content')
          %td= raw(@mutation.content)
        %tr
          %td= t('.link')
          %td= @mutation.link
        %tr
          %td= t('.googled')
          %td= @mutation.googled
.row-fluid
  %span.col-md-12
    = link_to t(:'button.back_to_list'), account_path(@mutation.account), class: "btn btn-xs"
