= bootstrap_form_for(@transfer) do |f|
  %fieldset
    = f.collection_select :from_account_id, Account.where(user: current_user), :id, :iban
    = f.collection_select :to_account_id, Account.all, :id, :iban
    = f.text_field :comment
    = f.text_field :amount

  .form-actions
    = f.button :submit, class: "btn-primary btn-xs", value: t('button.save')
    = link_to t('button.cancel'), accounts_path, class: "btn btn-xs"
