= render 'shared/index_header', name: Account.model_name.human
%table.table-bordered.table-striped
  %thead
    %tr
      = thsortable 'id', '#'
      = thsortable 'user', t('.user')
      = thsortable 'iban', t('.description')
      = thsortable 'comment', t('.query')
      = thsortable 'initial_balance', t('.initial')
      = thsortable 'received', t('.received')
      = thsortable 'paid', t('.paid')
      = thsortable 'balance', t('.balance')
      = thsortable 'created_at', t('.created_at')
      = thsortable 'updated_at', t('.updated_at')
      %th
        %i.icon-flag
  %tbody
    -@accounts.each do |account|
      %tr
        = render 'row', :account => account
        %td
          = link_to t(:'button.show'), account_path(account), :class => "btn btn-xs"
          - if can? :update, account
            = link_to t(:'button.edit'), edit_account_path(account), :class => "btn btn-xs"
